
{% extends 'base.html'%}
{% load static %}
{% block style %}
<style>
    li {
        display: inline-block;
        border: 1px solid blue;
        padding: 10px 20px;
    }

    a {
        text-decoration: none;
        color: #2aaa9f;
    }
</style>
{% endblock %}
{% block content %}
    {%include "inc-menu.html"%}
    <h2>Список товаров</h2>
        {% for it in item %}
        <li><a href="{% url 'item_detail' it.id %}">
            <figure class="stock">
            <img src="{% static it.id .jpeg %}" width="150" height="150" alt="альтернативный текст для {{it.id}}">
            <figcaption>{{it.name}}</figcaption>
            </figure>
        </a></li>
        {% endfor %}
{% endblock %}
