<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:8000">ДОМОЙ------></a> 
        <a href="http://127.0.0.1:8000/items">К списку товаров</a>
        <a href="http://127.0.0.1:8000/about">АБАУТ)</a></div>
    </header>
    <h2>Список товаров</h2>
    <ol>
        {% for it in item %}
            <li><a href=http://127.0.0.1:8000/items/{{it.id}}>{{it.name}} </a></li> 
        {% endfor %}
    </ol>
</body>
</html>